@charset "uft-8";
@import "default.css"; 

body{margin: 0; padding: 0; box-sizing: border-box; font-family: "", sans-serif;}
ul{list-style: none;}
a{text-decoration: none;}

/* header */
#header{}
.header_inner{width: 100%; margin: 0 auto; background: #000; display: flex; justify-content: space-between;}
#h_top {}
#h_top .h_btn{}
.h_logo{}
#h_t_right{}
#h_t_right .h_btn{}

#gnb{display: flex; justify-content: space-between; max-width: 1300px; text-align: center; margin: 0 auto; width: 100%; font-size: 14px;}
#gnb li a{color: #fff;}
#gnb li a::before{}
#gnb .list{}


/* main */
/* sec1 */
#sec1{}
.sec1_inner{background-color: salmon; display: flex; justify-content: space-around; text-align: center;}
.sec1_inner video{width: 250px;}

/* sec2 */
#sec2{}
.sec2_inner{width: 100%; min-width: 1300px; margin: 0 auto; display: flex; justify-content: space-around; height: 50px; background-color: #ddd;}
#sec2 p{}

/* sec3 */
#sec3{}
.sec3_inner{width: 100%; max-width: 1300px; margin: 80px auto; display: flex; justify-content: space-around;}
.sec3_inner img{width: 300px; height: 500px;}
.sec3_inner img:hover{transform: scale(1.3);}


.sec3_inner p{}
.sec3_inner button{}

/* sec4 */
#sec4{}
#sec4 .sec4_inner{width: 100%; max-width: 1300px; margin: 0 auto; display: flex; justify-content: space-around;}
#sec4 .sec4_inner .category{}

#sec4 .sec4_inner #new_in{}
#sec4 .sec4_inner #new_in .title_wrap{}
#sec4 .sec4_inner #new_in .swiper{}
#sec4 .sec4_inner #new_in .swiper .swiper_wrap{}
#sec4 .sec4_inner #new_in .swiper .swiper_wrap .swiper_slide{}
#sec4 .sec4_inner #new_in .swiper .swiper_wrap .swiper_slide img{width: 80px;}
#sec4 .sec4_inner #new_in .swiper .swiper_wrap .swiper_slide .info{}
#sec4 .sec4_inner #new_in .swiper_prev{}
#sec4 .sec4_inner #new_in .swiper_next{}

#sec4 .sec4_inner #best_selling{}
#sec4 .sec4_inner #best_selling .title_wrap{}
#sec4 .sec4_inner #best_selling .swiper{}
#sec4 .sec4_inner #best_selling .swiper .swiper_wrap{}
#sec4 .sec4_inner #best_selling .swiper .swiper_wrap .swiper_slide{}
#sec4 .sec4_inner #best_selling .swiper .swiper_wrap .swiper_slide img{width: 80px;}
#sec4 .sec4_inner #best_selling .swiper .swiper_wrap .swiper_slide .info{}
#sec4 .sec4_inner #best_selling .swiper_prev{}
#sec4 .sec4_inner #best_selling .swiper_next{}


/* sec5 */
#sec5{}
#sec5 img{width: 100%;}

/* sec6 */
#sec6{}
.sec6_inner{width: 100%; margin: 100px auto; max-width: 1300px;}
.sec6_tit{text-align: center;}
.sec6_tit img{width: 80px; margin: auto;}
.sec6_tit span{font-weight: bold; font-size: 24px; line-height: 1.3;}
.sec6_tit p{font-size: 16px; line-height: 2;}
.sec6_tit button{background-color: #000; color: #fff; width: 80px; height: 30px; border-radius: 40px; line-height: 1.8;}
.sec6_sub{margin: 50px; display: flex; justify-content: space-between;}
.sec6_sub img{width: 250px;}

/* sec7 */
#sec7{}
.sec7_inner{width: 100%; max-width: 1300px; margin: 100px auto; display: flex;}
.sec7_inner .sec7_img1{width: 500px;}
.sec7_sub{margin: 50px;}
.sec7_sub h3{text-align: center; margin-top: 50px; font-size: 24px;}
.sec7_sub p{left: 0; margin-top: 20px;}
.sec7_sub button{color: red; background: #000; width: 80px; height: 40px; border-radius: 40px; margin-top: 10px;}


/* sec8 */
#sec8{}
.sec8_inner{width: 100%; max-width: 1300px; margin: 0 auto; display: flex;}
#sec8 .category_wrap{}
#sec8 .category_wrap .wrap_title{}


.sec8_content .card1 .img{background-image: url("../img/ca_2.jpg");}
.sec8_content .card2 .img{background-image: url("../img/ca_4.jpg");}
.sec8_content .card3 .img{background-image: url("../img/ca_8.jpg");}
.sec8_content .card4 .img{background-image: url("../img/ca_3.jpg");}

/* footer */
/* f_main */
.footer_inner{width: 100%; background-color: #000; color: #fff; display: flex; justify-content: space-between;}
#f_main{width: 100%; }
#f_main img{width: 100px;}
#f_main a{color: #fff;}
#f_main .main{display: flex;}
#f_main .main .title{}
#f_main .main .sub{}

/* sns */
#sns{}
#sns a{color: #fff;}

/* f_btn */
#f_btn{}
#f_btn p{}
#f_btn a{color: #fff;}